
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .flex-center{
        @apply flex justify-center items-center
    }
    .active-link {
        @apply text-theme border-theme border-r-4 border-solid
    }
    .active-link-text{
        @apply text-gray-700 
    }
    .uploader-file-preview {
        @apply absolute left-0 w-full flex
    }
    .file-preview{
        @apply bg-blue-100 h-full rounded w-1/12 mr-3 relative overflow-hidden
    }
    .error {
        @apply border-red-500 
    }
}
@layer utilities {
    .uploader-file-preview-settings{
        top: -150px;
        height: 150px;
    }
    .absolute-center {
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
    }
    .theme-transparent-bg{
        background-color:#0000002b;
    }
    .chat-box-min-h {
        min-height:10%;
    }
    .chat-box-h {
        height:10%;
    }
    .h-chat-body-min{
        height: 80%;
    }
    .chat-box-body-min-h {
        min-height:80%;
    }
    .rounded-t-r-none {
        border-top-right-radius:0;
    }
    .rounded-t-l-none {
        border-top-left-radius:0;
    }
    .rounded-b-r-none {
        border-bottom-right-radius:0;
    }
    .rounded-b-l-none {
        border-bottom-left-radius:0;
    }
    .h-auto{
        height:auto;
    }
  }